.company_solution {
  width: 100%;
}

.company_wrapper {
  display: flex;
  flex-direction: column;
  color: white;
}

@media screen and (min-width: 600px) {
  .company_wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  #div1 {
    order: 1;
  }
  #div2 {
    order: 2;
  }
}