.company_solution_sliderdescription {
  position: relative;
  background-color: black;
  color: white;
  
  margin-top: -110px;
  margin-left: 80px;

  display: flex;
  flex-direction: column;
}

.company_solution_sliderdescription_solution {
  font-family: "Soleil W01 Bold", sans-serif;
  font-size: 12px;
  color: lightgray;
  letter-spacing: 1px;

  padding-top: 40px; 
  padding-left: 20px;
}

.company_solution_sliderdescription_advice {
  font-family: "Financier", serif;
  font-size: 2rem;

  padding-top: 20px; 
  padding-left: 20px;
}

.company_solution_sliderdescription_btn {
  width: 130px;
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
  .company_solution_sliderdescription {
    margin-top: -60px;
    margin-left: 180px;
  }
}
@media screen and (min-width: 900px) {
  .company_solution_sliderdescription {
    margin-top: -200px;
    margin-left: 350px;
  }
}
@media screen and (min-width: 1400px) {
  .company_solution_sliderdescription {
    margin-top: -220px;
    margin-left: 400px;
  }
}

.company_solution_slidingrect {
  background-color: white;
  
  height: 5px;
  padding: 0;
  margin: 0;
}