.company_solution_slidersolutions {
  /* background-color: lightpink; */
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}
.company_solution_slidersolutions_title {
  font-family: "Financier", serif;
  font-size: 40px;
  margin-bottom: 26px;
  letter-spacing: .5px;
}

.company_solution_slidersolutions_item {
  display: flex;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: lightgray;
  line-height: 26px;
  font-family: "Soleil W01 Bold", sans-serif;
  /* letter-spacing: 1px; */
}

.company_solution_slidersolutions_item_logo.islogo {
  display: flex;

}

.company_solution_slidersolutions_item:hover {
  /* color: lightblue; */
  cursor: pointer;
}

/* .company_solution_slidersolutions_item:hover .company_solution_slidersolutions_item_logo {
  display: flex;
} */

.company_solution_slidersolutions_item_logo {
  display: none;
  padding-right: 8px;
}
.company_solution_slidersolutions_items_item_text {

}

@media screen and (min-width: 600px) {
  .company_solution_slidersolutions {
    flex: 1;
    align-items: center;
    margin-left: 20px;
  }
  .company_solution_slidersolutions_title {
    font-size: 50px;
  }
}
@media screen and (min-width: 900px) {
  .company_solution_slidersolutions {
    margin-left: 20px;
  }
  .company_solution_slidersolutions_title {
    font-size: 64px;
  }
}