.company_sidebar {
  position: fixed;
  visibility: hidden;
  background-color: black;
  opacity: 1;
  color: white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
  
  top: 0px;
  right: -400px;
  height: calc(100vh);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.company_sidebar_logo:hover img {
  transition: .3s;
  transform: rotateZ(90deg);
}

.company_sidebar_logo {
  cursor: pointer;
  position: absolute;

  top: 46px;
  right: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company_sidebar_logo_title {
  font-size: 12px;
  letter-spacing: 1.5px;
  font-family: "Soleil W01 Bold", sans-serif;
}

.icon-close {
  font-size: 24px;

  margin-left: 6px;
}

.company_sidebar_logo:hover .icon-close {
  transition: .3s;
  transform: rotateZ(90deg);
}

.company_sidebar.isSidemenuVisible {
  visibility: visible;
}

.company_sidebar.isSidemenuSlideIn {
  transition: .5s linear;
  transform: translateX(-400px);
}

.company_sidebar.isSidemenuSlideOut {
  transition: .5s linear;
  transform: translateX(200%);
}

.company_sidebar_item {
  cursor: pointer;
  position: relative;
  font-size: 24px;
  padding: 15px 30px;
}

.company_sidebar_item:hover {
  color: lightgrey;
}

.company_sidebar_item:hover::after {
  content: url('./menu_arrow.svg');
  position: absolute;
  
  right: 10px;
  top: 16px;
}

@media screen and (max-width: 600px) {
  .company_sidebar {
    width: 100%;
  }
}