.footer {
  margin-top: 150px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  /* background-color: grey; */
  align-items: center;
}
.footer_leftside {
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.8rem;
  /* background-color: lightcoral; */
}
.footer_companyinfo {

}
.footer_companyname {
  font-size: 25px;
  letter-spacing: 2px;
}
.footer_companytype {

}

.footer_rightside {
  flex: 1;
  /* background-color: lightblue; */
  line-height: 1.2rem;
  font-family: "Soleil W01 Bold", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_link {
  color: lightgray;
}
.footer_link:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .footer_leftside {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .footer_companyname {
    font-size: 20px;
    
  }
  .footer_rightside {
    font-size: 10px;
    line-height: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footer_leftside {
    font-size: 9px;
    line-height: 1.1rem;
    margin-bottom: 20px;
    align-self: left;
  }
  .footer_companyname {
    font-size: 16px;
  }
  .footer_rightside {
    align-self: left;
    font-size: 9px;
    line-height: .9rem;
  }

}