.footer {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
  
  color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_leftside {
  margin-bottom: 20px;

  font-size: 10px;
  line-height: 1.4rem;
  letter-spacing: 1px;

}

.footer_companyname {
  font-size: 18px;
  letter-spacing: 1.4px;
  cursor: pointer;
}

.footer_rightside {
  font-family: "Soleil W01 Bold", sans-serif;
}

.footer_link {
  font-size: 14px;
  color: lightgray;
  padding: 5px 0;
  letter-spacing: 1px;
}

.footer_link:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .footer_leftside {
    flex: 1;
  }
  
  .footer_rightside {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer_link {
  }

}