.company_solution_image {
  display: flex;
  flex-direction: column;
  order: 2;
}

.company_solution_image img:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.company_solution_image img {
  cursor: pointer;

  max-width: 65%;
}

@media screen and (min-width: 600px) {
  .company_solution_image {
    flex: 1;
  }
  .company_solution_image img {
    max-width: 100%;
  }
}