html {
  background: url("http://ppim.dk/sites/default/files/styles/background_image/public/img_4144_02.jpg?itok=w-0_buxs") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  animation-name: background_transform;
  animation-duration: .3s;
}
@keyframes background_transform {
  from {transform: scale(1.1);}
  to {transform: scale(1);}
}

.page_index {
  margin: 0 auto;
  max-width: 1366px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vuqyqh');
  src:  url('fonts/icomoon.eot?vuqyqh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vuqyqh') format('truetype'),
    url('fonts/icomoon.woff?vuqyqh') format('woff'),
    url('fonts/icomoon.svg?vuqyqh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-minus:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e5cd";
}

